* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  height: 100vh;
  background: #27222b; /* fallback for old browsers */
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

p,
a {
  font-size: 3rem;
}

.container {
  height: auto;
  padding-top: 4%;
  padding-left: 15%;
  padding-right: 15%;
}

.slider-wrapper {
  width: 100%;
  height: 66vh;
  overflow: hidden;
  border-radius: 20px;
}

.slider {
  display: flex;
  width: 400%;
  height: 100%;
}

.slide {
  width: 25%;
  height: 100%;
  transition: all 1s ease;
}

.slide img {
  width: 100%;
  height: 100%;
}

.wrapper {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-container {
  width: 70%;
  overflow: hidden;
}

.text-wraper {
  display: flex;
  width: 400%;
  height: 100%;
}

.text {
  width: 25%;
  height: 100%;
  transition: all 1s ease;
  font-size: 3rem;
  text-align: left;
}

.pagination {
  display: flex;
  width: auto;
  text-align: right;
}

input:checked {
  background-color: #9921e8;
}

.dots-inner {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50%;
  background-color: rgb(45, 34, 139);
  cursor: pointer;
}

input[name="pic"] {
  position: absolute;
  top: -9999px;
}

#pic_label1:hover .dots-inner,
#pic_label2:hover .dots-inner,
#pic_label3:hover .dots-inner,
#pic_label4:hover .dots-inner {
  background-color: #fff;
}

#pic1:checked ~ .wrapper .pagination #pic_label1:hover #dots-span1,
#pic2:checked ~ .wrapper .pagination #pic_label2:hover #dots-span2,
#pic3:checked ~ .wrapper .pagination #pic_label3:hover #dots-span3,
#pic4:checked ~ .wrapper .pagination #pic_label4:hover #dots-span4 {
  border: 2px solid #fff;
}

#pic1:checked ~ .wrapper .pagination #pic_label1 #dots-span1,
#pic2:checked ~ .wrapper .pagination #pic_label2 #dots-span2,
#pic3:checked ~ .wrapper .pagination #pic_label3 #dots-span3,
#pic4:checked ~ .wrapper .pagination #pic_label4 #dots-span4 {
  border: 2px solid rgb(45, 34, 139);
  background-color: transparent;
}

#pic1:checked ~ .slider-wrapper .slider .p1 {
  margin-left: 0;
}
#pic2:checked ~ .slider-wrapper .slider .p1 {
  margin-left: -25%;
}
#pic3:checked ~ .slider-wrapper .slider .p1 {
  margin-left: -50%;
}
#pic4:checked ~ .slider-wrapper .slider .p1 {
  margin-left: -75%;
}

#pic1:checked ~ .wrapper .text-container .text-wraper .t1 {
  margin-left: 0%;
}
#pic2:checked ~ .wrapper .text-container .text-wraper .t1  {
  margin-left: -25%;
}
#pic3:checked ~ .wrapper .text-container .text-wraper .t1 {
  margin-left: -50%;
}
#pic4:checked ~ .wrapper .text-container .text-wraper .t1 {
  margin-left: -75%;
}

footer {
  width: 100%;
  height: 10vh;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5% 15% 1% 15%;
}

a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    height: 90vh;
  }

  p,
  a {
  font-size: 1.3rem;
}

.wrapper{
  flex-direction: column;
  margin-top: 0;
}

.text-container {
  width: 100%;
  order: 2;
}

.pagination {
  margin: 5% 0 10% 0;
  order: 1;
  display: block;
  text-align: center;
}

.text {
  font-size: 1.5rem;
}

.text p{
  width: 100%;
}
  .slider-wrapper {
    height: auto;
  }

  .slide img {
    height: 59vh;
  }
}
